.projetfont{
    font-family: 'Roboto', sans-serif;
}
.font{
    font-family: 'Roboto', sans-serif;
}
.changaOne
{
    font-family: 'Changa One', sans-serif;
}

.crimson
{
    font-family: 'Crimson Text', serif;
}
