@keyframes visible {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hidden {
    from {opacity: 1;}
    to {opacity: 0;}
}

.search
{
    animation: visible 0.5s;
    max-height: 600px;
}
.searchHidden
{
    animation: hidden 0.5s;
    max-height: 600px;
}

.searchZindex
{
   z-index: 1000 !important;
}

.sideBar
{
    background-color: red !important;
}

.MuiInputBase-input:focus
{
    --tw-ring-color: transparent;
}

.MuiDrawer-paper
{
    margin-top: 64px;
}

h1 {
    font-family: 'Changa One', sans-serfif;
    font-size: 1.75em;
}

h2 {
    font-family: 'Changa One', sans-serfif;
    font-size: 1.50em;
}

h3 {
    font-family: 'Changa One', sans-serfif;
    font-size: 1.25em;
}
h4 {
    font-family: 'Changa One', sans-serfif;
    font-size: 1.1em;
}

.mceToolbar td {
    display:table-row;
    float: left;
}
.mceToolbar td:nth-of-type(11){
    clear: left;
}

@keyframes ettendre
{
    from {opacity:0}
    to {opacity:1}
}

.animePourcentage
{
    animation:ettendre 2s linear forwards;
}
